
@{
	ViewBag.Title = "Login";
}
<style>
	body {
		background-color: darkgray;
	}

	.login-box {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
		background: white;
		padding: 1em;
		text-align: center;
	}

		.login-box input {
			display: block;
			border-radius: 5px;
			margin: 1em auto;
			border: 1px solid #dbdbdb;
		}

			.login-box input[type='submit'] {
				background: #3897f0;
				border-color: #3897f0;
				color: white;
			}
</style>


<div class="login-box col-md-4" style="border-radius:3px;">

	<h1 class="header-logo">Slax</h1>
	<form id="myform" action="/Home/Index" method="post">


		<input type="text" value="Usuario" class="form-control" />
		<input type="password" value="Senha" class="form-control" />
		<input type="checkbox" style="display: -webkit-inline-box!important;" class="custom-control-input" id="customCheck1">
		<label class="custom-control-label" for="customCheck1">Remember password</label>
		<input type="submit" value="login" class="btn btn-lg btn-primary btn-block" />
		<a>Esqueceu a senha?</a>
	</form>

</div>


